<plugin name='gwt' version='0.3-SNAPSHOT'>
  <author>Peter Ledbrook</author>
  <authorEmail>peter@cacoethes.co.uk</authorEmail>
  <title>The Google Web Toolkit for Grails.</title>
  <description>Incorporates GWT into Grails. In particular, GWT host pages can be
GSPs and standard Grails services can be used to handle client RPC
requests.
</description>
  <documentation>http://grails.codehaus.org/GWT+Plugin</documentation>
  <resources>
    <resource>UrlMappings</resource>
    <resource>spring.resources</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>BootStrap</resource>
    <resource>UrlMappings</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>BootStrap</resource>
    <resource>ScientistController</resource>
    <resource>InstituteController</resource>
    <resource>InstituteService</resource>
    <resource>Institute</resource>
    <resource>Scientist</resource>
    <resource>UrlMappings</resource>
    <resource>spring.resources</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>BootStrap</resource>
  </resources>
</plugin>